* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-tap-highlight-color: transparent;
}

body {
    overflow-x: hidden;
    height: 200vh;
}

:root {
    /* background color */
    --bg-light: #f9f9f9;
    --bg-black: #1a1a1a;
    --bg-black-50: #222222;
    --bg-black-100: #393939;
    --bg-primary: #007bff;
    --bg-success: #28a745;
    --bg-danger: #dc3545;
    --main-color: #2575fc;

    /* Text color */
    --text-light: #ffffff;
    --text-dark: #000000;
    --text-muted: #6c757d;
    --text-primary: #007bff;
    --text-warning: #ffc107;
    --text-color: #f5f5f5;
    --text-orange: #FF6B3D;
    --text-purple: #A43DFF;
    --text-bule: #3DA9FF;

    --backgroundColor: #313133;
    --iconColor: #1D6F56;
    --cardColor: #3E3E3E;
    --activeCardColor: #4B4B4B;
    --textColor: #9E9EA0;
    --currentMusic: #333335;
    --progressBar: #ffa500;
}

.logo {
    margin-top: 0.4rem;
}

.viewer {
    width: 109%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    overflow-x: hidden;
}

.viewer img,
.viewer video {
    width: 100%;
    height: 45vh;
    object-fit: cover;
    cursor: pointer;
    /* overflow-x: hidden; */
}

.top-overlay {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 0.7rem; */
    /* gap: 45%; */
    color: var(--text-color);
    position: absolute;
    width: 100%;
    z-index: 20;
    margin-top: -4.5rem;
    top: 0px;
}

.CN {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 1rem;
    width: 30%;
}

#menuBtn {
    cursor: pointer;
    width: 15%;
}

.CN a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 20px;
}

.CN i {
    font-size: 28px;
}

.caption-box {
    position: absolute;
    bottom: 40px;
    left: 12%;
    color: #fff;
}

.caption-box h3 {
    line-height: 1.4;
    font-size: 22px;
}

.caption-box p {
    margin-bottom: 0.6rem;
}

.caption-box button {
    background: transparent;
    color: var(--text-color);
    font-size: 15px;
    margin-top: 2rem;
    padding: 1rem;
    border: 1px solid var(--text-warning);
    cursor: pointer;
}


.progress-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: var(--bg-light);
}

.progress-bar {
    height: 100%;
    width: 0%;
    background: var(--bg-light);
    transition: width 0.1s linear;
}

.arrow-box {
    display: none;
    position: absolute;
    right: 15rem;
    background: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    cursor: default;
    color: #fff;
    font-size: 24px;
}

.arrow-left {
    top: 70%;
    transform: translateY(-50%);
}

.arrow-right {
    margin-top: 1rem;
    top: 80%;
    transform: translateY(-50%);
}

#closeBtn {
    cursor: pointer;
    display: none;
    z-index: 1000;
}

nav {
    background: rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(20px);
    color: var(--text-dark);
    position: fixed;
    top: -12%;
    overflow-x: hidden;
    transition: 0.35s ease;
    right: -100%;
    padding: 1.4rem;
    -webkit-backdrop-filter: blur(20px);
    width: 100%;
    z-index: 999;
}

nav ul li{
    margin-bottom: 1rem;
}

nav li a {
    display: flex;
    justify-content: space-between;
}

nav a {
    color: var(--text-light);
    font-size: 20px;
    text-decoration: none;
}

ul li{
    list-style-type: none;
    line-height: 5;
}

nav.active {
    right: 3px;
}

.logo2 {
    margin-left: -2rem;
    margin-top: -0.5rem;
}

.input {
    margin-top: -4rem;
    margin-bottom: 1rem;
}

.icon .fa-angle-up {
    display: none;
}

.input input {
    background: transparent;
    border: 1px solid var(--text-color);
    color: var(--text-color);
    font-size: 20px;
    outline: none;
    padding: 1.5rem;
    width: 100%;
}


@media (min-width: 1022px) {

    .viewer img,
    .viewer video {
        height: 80vh;
    }

    .arrow-box {
        display: block;
        position: absolute;
        right: 15rem;
        background: rgba(0, 0, 0, 0.5);
        padding: 1rem;
        cursor: default;
        color: #fff;
        font-size: 24px;
    }

    .arrow-left {
        top: 70%;
        transform: translateY(-50%);
    }

    .arrow-right {
        margin-top: 1rem;
        top: 80%;
        transform: translateY(-50%);
    }
}